@model Website.Areas.Admin.ViewModels.Bibles.BibleViewModel

@{
    ViewData["Title"] = "Delete Bible";
}

<h2>Are you sure you want to delete this Bible?</h2>

<table class="table">
    <tr>
        <th>Name:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Abbreviation:</th>
        <td>@Model.Abbreviation</td>
    </tr>
    <tr>
        <th>Publisher:</th>
        <td>@Model.Publisher</td>
    </tr>
    <tr>
        <th>Language:</th>
        <td>@Model.Language</td>
    </tr>
</table>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
