<div class="col-11 shadow rounded p-3 my-4 mx-auto" id="breadcrumbs-con">
    Home / <span id="breadcrumbs-bible"></span><span id="breadcrumbs-book"></span><span id="breadcrumbs-chapter"></span>
</div>