<div class="main-left-con m-0 p-0 col-2 full-vh overflow-hidden">
    <!-- Bibles List -->
    <div class="menu selected-menu-con" id="bible-list-menu">
        <h3>Bibles</h3>
        <div id="biblesList">
            <div class="menu-item menu-nav" open-menu="book-list-menu">
                <div class="card col-12 my-2">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">bbe</h6>
                        <h5 class="card-title">Bible in Basic English</h5>
                        <p class="card-text">The Bible In Basic English (also known as BBE) is a translation of the Bible into Basic English. The BBE was translated by ..</p>
                        <span class="card-link">Read Now -></span>
                    </div>
                </div>
            </div>
            <div class="menu-item menu-nav" open-menu="book-list-menu">
                <div class="card col-12 my-2">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">kjv</h6>
                        <h5 class="card-title">King Jams Version</h5>
                        <p class="card-text">The King James Version (KJV), also known as the King James Bible (KJB) or simply the Authorized Version (AV), ...</p>
                        <span class="card-link">start reading -></span>
                    </div>
                </div>
            </div>
            <div class="menu-item menu-nav" open-menu="book-list-menu">
                <div class="card col-12 my-2">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">ylt</h6>
                        <h5 class="card-title">Young's Literal Translation</h5>
                        <p class="card-text">Young's Literal Translation (YLT) is a translation of the Bible into English, published in 1862. The translation was made by ...</p>
                        <span class="card-link">Read Now -></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Books List -->
    <div class="menu" id="book-list-menu">
        <button type="button" class="btn btn-secondary menu-nav" open-menu="bible-list-menu"><i class="fa fa-arrow-left"></i> Back</button>
        <h3>Books</h3>
        <div id="booksList">
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 2</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 3</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 4</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 5</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 6</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 7</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 8</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 9</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 10</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 11</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 12</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 13</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 14</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 15</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 16</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 17</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 18</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 19</div>
            <div class="menu-item menu-nav"  open-menu="chapter-list-menu">item 10</div>
        </div>
    </div>

    <!-- Chapters List -->
    <div class="menu" id="chapter-list-menu">
        <button type="button" class="btn btn-secondary menu-nav" open-menu="book-list-menu"><i class="fa fa-arrow-left"></i> Back</button>
        <h3>Chapters</h3>
        <div id="chaptersList">
            <div class="menu-item">item 1</div>
            <div class="menu-item">item 2</div>
            <div class="menu-item">item 3</div>
            <div class="menu-item">item 4</div>
            <div class="menu-item">item 5</div>
            <div class="menu-item">item 6</div>
            <div class="menu-item">item 7</div>
            <div class="menu-item">item 8</div>
            <div class="menu-item">item 9</div>
            <div class="menu-item">item 10</div>
            <div class="menu-item">item 11</div>
            <div class="menu-item">item 12</div>
            <div class="menu-item">item 13</div>
            <div class="menu-item">item 14</div>
            <div class="menu-item">item 15</div>
            <div class="menu-item">item 16</div>
            <div class="menu-item">item 17</div>
            <div class="menu-item">item 18</div>
            <div class="menu-item">item 19</div>
            <div class="menu-item">item 10</div>
        </div>
    </div>
</div>