<div class="main-left-con m-0 p-0 col-2 full-vh overflow-hidden">
    <!-- Bibles List -->
    <div class="menu m-0" style="left:0;">
        <h3>Admi</h3>
        <div class="list-group">
            @* <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Dashboard</a> *@
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="list-group-item list-group-item-action">Dashboard</a>
            <a asp-area="Admin" asp-controller="Feedback" asp-action="Index" class="list-group-item list-group-item-action">Feedback</a>
            <a asp-area="Admin" asp-controller="Sync" asp-action="Index" class="list-group-item list-group-item-action">Sync</a>
            <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="list-group-item list-group-item-action">Users</a>
        </div>
    </div>
</div>