
<div class="card m-4">
    <div class="card-body">
        <h2>404 Chapter Not Found</h2>
        <p>We could not find the chapter you are trying to open, please try again later</p>
    </div>
</div>