@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div id="main-card" class="row shadow rounded p-3 mb-3">
        <div class="col d-flex align-items-end">
            <div class="selected-bible-text mb-4 ml-2">
                <h6 class="mb-2 text-body-secondary">kjv</h6>
                <h5 class="">King Jams Version</h5>
                <p class="">The King James Version (KJV), also known as the King James Bible (KJB) or simply the Authorized Version (AV), ...</p>
                <a asp-controller="Home" asp-action="Read" class="card-link">[ start reading ]</a>
            </div>
        </div>
        <div class="col-4 bg-light bg-gradient"></div>
    </div>
    <h4>More Information</h4>
    <p>
        Fusce sed enim sed orci blandit sagittis eu id urna. Maecenas massa ligula, ullamcorper a felis ac, ornare imperdiet lacus. Donec vitae placerat libero. Nulla hendrerit bibendum venenatis. Maecenas at vulputate nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec bibendum, turpis vel blandit pharetra, nisl quam vestibulum enim, id convallis mauris enim nec eros.
    </p>
    <p>
        Integer fringilla nisi sed lacus ultrices molestie. Aenean sit amet augue sed nisi ornare auctor vel vel erat. Mauris fermentum egestas massa, sed iaculis odio malesuada vitae. Nam malesuada metus eu lectus malesuada tempor. Donec tristique accumsan dui. In mattis rhoncus magna, consectetur maximus justo iaculis sed. Pellentesque quis massa nunc. Quisque vitae ligula diam. Ut vel vulputate risus, eget consequat lacus.
    </p>
    <p>
        Vivamus at tristique nulla. Nulla turpis lorem, commodo egestas euismod consequat, sollicitudin eu dui. Nunc ut varius libero. Morbi cursus ut lacus euismod tincidunt. Cras lobortis sem at urna hendrerit, sit amet luctus odio semper. Fusce consectetur nulla efficitur, maximus urna nec, cursus nulla. Suspendisse laoreet mauris nec lorem posuere convallis. Proin convallis neque ac blandit euismod. Morbi egestas dignissim sapien, vel molestie lorem tempor at. Suspendisse potenti. Cras viverra eros sed turpis vestibulum, vitae posuere erat tempor. Nam id porta lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi consequat vel eros sit amet dapibus.
    </p>
</div>



@section Scripts {
}