@model Website.ViewModels.Visitor.VisitorChapterViewModel

@{
    ViewData["Title"] = "read Chapter";
}

<div class="flex-grow-fill container-fluid p-0 m-0 row">
    
    <div class="col-11 p-3 my-4 mx-auto">
        <div class="card">
            <div class="card-body" id="breadcrumbs-con">
                Home / @Model.Bible / @Model.Book / @Model.Number
            </div>
        </div>
    </div>

    <div class="col-11 p-3 my-4 mx-auto">
        <div class="card">
            <div class="card-body" id="chapter-reading-con">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Verses.Count; i++)
                    {
                        <span>
                            <span class="mx-2">[@Model.Verses[i].Verse]</span>-<span>@Model.Verses[i].Text</span>
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>
