
<header class="flex-grow-0">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <span class="nav-link">
                            <i class="fa-solid fa-bars"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-sm-inline-flex justify-content-between">
                @if (!string.IsNullOrEmpty(Model) && Model != "Guest")
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                                <i class="fa-solid fa-gauge"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Account" asp-controller="Profile" asp-action="Index">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Account" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                                <i class="fa-solid fa-gauge"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Account" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Account" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>