@model Website.Areas.Admin.ViewModels.Dashboard.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";

}

<div class="container-fluid">
    <h4>Dashboard</h4>
    <div class="row">
        <div class="col-3">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Bibles</h5>
                    <p class="card-text">Total Bibles : @Model.Bibles</p>
                    <a asp-area="Admin" asp-controller="Bible" asp-action="Index" type="button" class="btn btn-primary">Open Bible List</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Feedback</h5>
                    <p class="card-text">Total Feedbacks : @Model.Bibles</p>
                    <a asp-area="Admin" asp-controller="Feedback" asp-action="Index" type="button" class="btn btn-primary">Open Feedback List</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Sync Data</h5>
                    <p class="card-text">: </p>
                    <a asp-area="Admin" asp-controller="Sync" asp-action="Index" type="button" class="btn btn-primary">Open Sync List</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Total Users : @Model.Bibles</p>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" type="button" class="btn btn-primary">Open Users List</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
}