@{
    ViewData["Title"] = "Feedback sent";
}

<h2>Send Feedback</h2>

<div class="card">
    <div class="card-body">
        <h2>Thanks for sending your feedback</h2>
        <p>Feedback was successfully Sent</p>
    </div>
</div>