@model Website.ViewModels.Visitor.FeedbackViewModel

@{
    ViewData["Title"] = "Send Feedback";
}

<div class="row">
    <div class="col-lg-8 col-md-10 col-12 m-auto">
        <div class="card m-4">
            <div class="card-body">
                <form asp-action="Index" method="post">
                    <h2 class="mb-4">Send Feedback</h2>

                    <div class="form-group my-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="Subject"></label>
                        <input asp-for="Subject" class="form-control" />
                    </div>

                    <div class="form-group mb-4">
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>